{{- $createServiceAccount := or .Values.serviceAccount.create (and .Values.rbac .Values.rbac.enabled (not .Values.serviceAccount.name)) -}}
{{- if $createServiceAccount -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "deploy.serviceAccountName" . }}
  labels:
    {{- include "deploy.labels" . | nindent 4 }}
    {{- with .Values.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
